.NewDepartment {
    width: 250px;
    height: 580px;
    margin: 10px;
}

.Img {
    width: 25px;
    height: 25px;
    padding: 15px 5px;
}

.TopPortion {
    display: flex;
    justify-content: space-between;
}

.Cancle {
    display: flex;
    justify-content: space-between
}

.Save {
    padding: 15px 5px;
}

.Name {
    display: flex;
    justify-content: space-between
}